<div class="container">
<div class="jumbotron jumbotron-fluid">
	<div class="container">
    <ul class="collection">
        <li class="collection-item avatar">
          <img src="#" alt="" class="circle">
          <h1 class="display-4">Welcome,<%= user.name %></h1>
          <p class="lead">
              <%= user.currentcity %>
              <%= moment(user.createdAt).fromNow() %>
              <a href="/users/profile/edit">Edit Profile</a>
          </p>  
    </li>
	</div>
</div>

<!-- <a class="waves-effect waves-light btn-large">view locations</a> -->

<% posts.forEach(p => { %>
<h2>Recent Posts</h2>
<div class="card" style="margin-bottom: 2rem">
  <div class="card-body">
    <h5 class="card-title"><%= p.title %></h5>
    <p class="card-text"><%= p.body %></p>
    <a href="#" class="btn btn-primary">Read More</a>
  </div>
</div>
  <% }) %>
</div>