<div class="container">
<h1> <%= location.city %></h1>
<img src="<%= location.pic %>"/>

<% location.posts.forEach (p => { %>
<div class="card hoverable">
    <div class="card-content black-text">
      <span class="card-title"><%= p.title %></span>
    </div>
    <div class="card-action">
      <a href="/locations/<%= location._id %>/posts/<%= p._id %>">read post</a>
    </div>
  </div>  
</div>
</div>
<% }) %>
</div>